.header {
    background-color: #ffffff8c;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 10px;
}

.link {
    font-weight: 500;
}

.link svg {
    width: 30px;
    fill: #58453A;
}

.text {
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to left, 
    violet, rgb(255, 0, 255));
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
}

.text::after {
    position: absolute;
    content: 'Bakery & cakes';
    width: 200%;
    left: 50%;
    bottom: -5px;
    transform: translateX(-29%);
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to left, 
    violet, rgb(255, 0, 255));
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
}
@keyframes animated {
    to{background-position-x: 150px;}
}



/* mobile nav / berger */

.mobile  {
    width: 3%;
    transition: 1s ease-in;
    position: relative;
    border-radius: 10px;
    display: none;
}

.mobileActive {
    width: 100%;
}

.accrdion {
    position: absolute;
    padding: 50px 15px 15px;
    border-radius: 10px;
    top: 0px;
    width: 100%;
    gap: 10px;
    background-color: #ffffff98;
    backdrop-filter: blur(10px);
    transition: 1s ease-in-out;
    translate: 1s;
    display: none;
}

.accrdionActive{
    display: flex;
    align-items: end;
    flex-direction: column;
}

.frame {
    width: 30px;
    height: 30px;
    position: relative;
}

.center {
    position: relative;
	width: 100%;
	height: 100%;
}

.bar {
	--translateTime: 400ms;
	--rotateTime: 300ms;
	position: absolute;
    z-index: 99;
	height: 3px;
	width: 30px;
	background-color: #F9CDB2;
	border-radius: 3px;
	top: 0px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
	transform-orgin: center center;
	transition: translate var(--translateTime) var(--rotateTime),
		rotate var(--rotateTime);

	&.mid {
		top: 12px;
		transition: scale var(--translateTime) var(--rotateTime);
	}
	&.bot {
		top: 24px;
	}
}

.toggle:checked ~ .center .bar {
	&.mid {
		scale: 0 1;
		transition: scale var(--translateTime);

	}
	&.top {
		translate: 0 12px;
		rotate: 45deg;

	}
	&.bot {
		translate: 0 -12px;
		rotate: 135deg;

	}
	&.top,
	&.bot {
		transition: translate var(--translateTime),
			rotate var(--rotateTime) var(--translateTime);
	}
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
	width: 30px;
	height: 30px;
	opacity: 0;
	z-index: 10;
}


@media (max-width: 800px) {
    .nav {
        display: none;
    }
    .mobile {
        display: block;
    }
}