@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #9acbff;
  background: url('./assets/images/fon-dlya-konditera.jpg');
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #58453A;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1230px;
  background: #b5838c85;
  padding: 15px 15px;
  backdrop-filter: blur(10px);
  margin: 0 auto;
}


@media (max-width: 800px) {
  body {
    background: #fff;
  }
}


/* slider */

